1.Are lists mutable or immutable, explain with an example

In [5]:
l1 = [1, 2, 3, 4]
print(l1)
l1[1] = 5
print(l1)
l1.append(7)
print(l1)
l1.pop(0)
print(l1)

[1, 2, 3, 4]
[1, 5, 3, 4]
[1, 5, 3, 4, 7]
[5, 3, 4, 7]

2.Take any example of list on your own and perform atleast 5 list operations on that

In [4]:
l = [1, 9, 15, 19, 20]
print(l)
l.insert(5, 7)
print(l)
l.remove(19)
print(l)
l.reverse()
print(l)
l.clear()
print(l)

[1, 9, 15, 19, 20]
[1, 9, 15, 19, 20, 7]
[1, 9, 15, 20, 7]
[7, 20, 15, 9, 1]
[]

3.Create a new list containing only the even numbers from the original list.

original list ;[1,2,2,4,5,6,7,12,3,456,78,67,89,90]

In [3]:
l = [1,2,2,4,5,6,7,12,3,456,78,67,89,90]
l1 = [number for number in l if number%2 == 0]
print(l1)

[2, 2, 4, 6, 12, 456, 78, 90]

4.Create a new list with the squares of each element in the original list.

original list : [3,5,6,8,2,45]

In [6]:
l = [3,5,6,8,2,45]
l1=[number ** 2 for number in l]
print(l1)

[9, 25, 36, 64, 4, 2025]

5.Check if all elements in the list are positive and return all the positive elements in a new list.

input ; [12,23,4,56,77,-89,7,90,90,-87,-99]

In [7]:
l = [12,23,4,56,77,-89,7,90,90,-87,-99]
l1 = [ number for number in l if number > 0]
print(l1)

[12, 23, 4, 56, 77, 7, 90, 90]